/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #070508;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #3f0a3f;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    border: 3px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #a77aa8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 10px;
    color:  #3f0a3f;
    font-size: 1.8em;
}

section hr {
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #eee;
}

section p, section ul, section ol {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

section ul, section ol {
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color:  #3f0a3f;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
